/* Global Styles */

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-500);
  border-radius: var(--radius-md);
}

/* Selection */
*::-moz-selection {
  background-color: var(--color-primary-500);
  color: var(--ui-text);
}

*::selection {
  background-color: var(--color-primary-500);
  color: var(--ui-text);
}

html {
  color-scheme: var(--color-scheme);
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--screen-min-width-padding);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  transition: background-color var(--transition-normal) ease;
  font-size: 16px;
}

body.disable-scroll {
  overflow: hidden;
}

button {
  cursor: pointer;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
}

.iconify {
  font-size: 1.3em;
  transition: color var(--transition-normal) ease;
}

@media (max-width: 470px) {
  ::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }
}
